body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New';
    overflow-x: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    height: 100%;
}

.header-background {
    display: flex;
    flex-direction: column;
    background-color: #F4F7FC;
    padding-bottom: 2rem;
    position: relative;
}

.skew {
    position: absolute;
    bottom: -1.125rem;
    width: 100%;
    height: 15%;
    background-color: white;
    transform-origin: left bottom;
    transform: skewY(3deg);
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-top-left {
    display: flex;
    margin-top: 32px;
    margin-left: 152px;
    position: relative;

}

.header-img-2 img {
    position: absolute;
    top: 0px;
    left: 10px;
}

.header-top-left h1 {
    font-size: 40px;
    margin-left: 40px;
    margin-top: 0px;
}

.header-top-right {
    display: flex;
    margin-top: 32px;
    margin-right: 152px;
}

.header-top-menu {
    display: flex;
    flex-direction: row;

}

.header-top-menu a {
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;

}

.header-top-menu a {
    font-size: 18px;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 15px;
    color: #1F1E61;
    text-decoration: none;

}

.header-top-menu a:last-child {
    width: 160px;
    height: 40px;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 0.6rem;
    border-radius: 0.5rem;
    background-color: #FDD76E;
    text-decoration: none;

}

.header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.header-main-left {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 10rem;
    margin-top: 6.25rem;
}

.header-main-content-1 {
    color: #1374F6
}

.header-line-agencio {
    position: absolute;
    left: 10rem;
    top: 1.9rem;
    width: 2rem;
    height: 0.1rem;
    background-color: #1374F6;
}

.header-main-content-2 {
    font-size: 15px;
    color: #8480AE;
    padding-right: 50%;
}

.header-main-heading {
    font-size: 2.5rem;
    color: #0B0757;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.header-left-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-left-button button {
    width: 9rem;
    height: 3.5rem;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #1374F6;
    cursor: pointer;
}

.header-left-button button a {
    text-decoration: none;
    color: white;
}

.header-left-button img {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 1rem;
    cursor: pointer;
}

.header-left-button p {
    color: #0B0757;
    margin-top: 2.5rem;
}

.header-main-right {
    display: flex;
    position: relative;

}

.header-human {
    width: 20rem;
    margin-top: 3rem;
    margin-right: 10rem;
}

.header-graph {
    position: absolute;
    top: 4rem;
    right: 5rem;
    width: 10rem;
}

.header-chat {
    position: absolute;
    bottom: -1rem;
    left: -6rem;
    width: 11rem;
}

.header-paint {
    position: absolute;
    bottom: 11.5rem;
    left: 1.5rem;
    width: 3.5rem;
}

@media (max-width: 600px) {
    .container {
        width: 100vw;
        height: 100vh;
    }

    .header-top-left {
        display: flex;
        margin-top: 25px;
        margin-left: 15px;
        position: relative;

    }

    .header-img-1 img {
        width: 30px;

    }

    .header-img-2 img {
        position: absolute;
        top: 0px;
        left: 10px;
        width: 30px;
    }

    .header-top-left h1 {
        font-size: 30px;
        margin-left: 20px;
        margin-top: 0px;

    }
    .header-top-right {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        margin-right: 3.2rem;
    }
    .header-top-menu-mobile-1{
        width: 1.8rem;
        height: 3px;
        background-color: black;
        border-radius: 5px;
    }

    .header-top-menu-mobile-2 {
        width: 1.8rem;
        height: 3px;
        background-color: black;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .header-top-menu-mobile-3 {
        width: 1.8rem;
        height: 3px;
        border-radius: 5px;
        background-color: black;

    }

    .header-top-menu {
        display: none;
    }

    .header-main-line {
        height: 1px;
        width: 100%;
        background-color: #8480AE29;
    }

    .header-line-agencio {
        position: absolute;
        left: 10rem;
        top: 1.9rem;
        width: 1.5rem;
        height: 0.1rem;
        background-color: #1374F6;
    }

    .header-main-left {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 4rem;
        margin-top: 2rem;
    }

    .header-main-content-2 {
        font-size: 15px;
        color: #8480AE;
        padding-right: 5rem;
    }

    .header-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-left-button button {
        width: 10rem;
        height: 4rem;
    } 

    .header-main-right {
        margin-left: 9rem;
    
    }

    .skew {
        position: absolute;
        bottom: 0rem;
        width: 100%;
        height: 25%;
        background-color: white;
        transform-origin: left bottom;
        transform: skewY(6deg);
    }

}